{% extends "base.html" %}
{% load static %}
{% block content %}
<body id="page-top">
  <div id="wrapper">
      {% include "sidenav.html" %}
      <div class="d-flex flex-column" id="content-wrapper">
          <div id="content">
              {% include "navbar.html" %}
              <div class="container-fluid">
                  <h3 class="text-dark mb-4">DATA</h3>
                  <div class="container">
                      <div class="row">
                        <div class="col-md-12">
                          <button class="btn btn-outline-primary" type="button" data-toggle="modal" data-target="#productCategory">+ Categories</button>
                        </div>
                      </div>
                  </div>
                  <div class="card shadow">
                      <div class="card-header py-3">
                          <p class="text-primary m-0 font-weight-bold">PDF</p>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                              <table class="table my-0" id="dataTable">
                                  <thead>
                                      <tr>
                                          <th>Categories</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                    {% for categories in categories %}
                                      <tr>
                                        <td>{{ categories.category_name }}</td>
                                      </tr>
                                    {% endfor %}
                                      <tr></tr>
                                      <tr></tr>
                                      <tr></tr>
                                      <tr></tr>
                                      <tr></tr>
                                      <tr></tr>
                                      <tr></tr>
                                      <tr></tr>
                                  </tbody>
                                  <tfoot>
                                      <tr>
                                          <td><strong>Categories</strong></td>
                                      </tr>
                                  </tfoot>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="modal fade" id="productCategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-header">
                 <h5 class="modal-title" id="exampleModalLabel">Category</h5>
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                 <form class="dropzone" role="form" method="POST" action="{% url 'categories_save' %}" enctype="multipart/form-data">
                     <div class="card-body">
                       <div class="form-group">
                           <label>Category Name</label>
                           <input type="text" class="form-control" name="product_category">
                       </div>
                     <!-- /.card-body -->
                     <div class="card-footer">
                     <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                 </form>
                 </div>
               </div>
             </div>
           </div>
          <footer class="bg-white sticky-footer">
              <div class="container my-auto">
                  <div class="text-center my-auto copyright"><span>Copyright © Brand 2022</span></div>
              </div>
          </footer>
      </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
  </div>
</body>
{% endblock %}
