<nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
            <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-list"></i></div>
            <div class="sidebar-brand-text mx-3"><span>DTI CMS</span></div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="navbar-nav text-light" id="accordionSidebar">
            <li class="nav-item">
              {% url 'dashboard' as dashboard %}
              <a class="nav-link {% if request.path == dashboard %} active {% endif %}" href="{{ dashboard }}">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'products' as products %}
              <a class="nav-link {% if request.path == products %} active {% endif %}" href="{{ products }}">
                <i class="fa fa-bar-chart-o"></i>
                <span>Products</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'complains' as complains %}
              <a class="nav-link {% if request.path == complains %} active {% endif %}" href="{{ complains }}">
                <i class="fa fa-comment"></i>
                <span>Complains</span>
              </a>
            </li>
            <li class="nav-item">
              {% url 'accounts' as accounts %}
              <a class="nav-link {% if request.path == accounts %} active {% endif %}" href="{{ accounts }}">
                <i class="fa fa-user"></i>
                <span>Store Accounts</span>
              </a>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
</nav>
